/* side menu bar */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pre loader */

#pre_loader{
    background:rgb(147, 136, 136) url(/client/assets/images/loader2.gif) no-repeat center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;

    z-index: 1000;
}

#menu_page_main_div{
    margin-top: 120px;
    /* border: 1px solid red; */
    width: 88vw;
    height: auto;
    margin-left: 10%;
}
#menu_page_main_div>div{
    display: flex;
    justify-content:space-between;
    /* border: 2px solid green; */
    position: relative;
}

#menu_page_main_div a{
    text-decoration: none;
    color: black;
}
#menu_page_main_div a:hover{
    text-decoration:underline;
    
}
#side_menu_bar_outer_div{
    flex: 1;
    
}


#side_menu_bar>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    position: fixed;
    

}
#menu_bar_red_lines{
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 45px;
    /* margin: auto; */
    
}

#menu_bar_red_lines>span{
   width: 25%;
   
    background-color: #e02525;
   /* border: 1px solid black; */
}

/* menu page featured items */

#menu_page_items{
    /* border: 2px solid blue; */
    margin-top: 90px;
    /* margin-left: 20%; */
    flex: 3;
}


/* featured_items_ */


.food_cards>h1{
    font-family: Haettenschweiler, 'Arial Narrow Regular', sans-serif;
    font-size:3rem;
    letter-spacing: 3px;
    font-weight:lighter;
    

}
.featured_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin: 70px 0;
    /* padding: 8% 0; */
    /* justify-content: center; */
    /* border: 2px solid palevioletred; */

}

#main_card{
    cursor: pointer;
}

#main_card:hover img{
    transform: scale(0.9);
}
.featured_cards>div{
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}

.featured_cards img{
    width: 250px;
    background-color: #f8f7f5;
    transition: 0.5s all ease-in-out;

}
.featured_cards p{
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
}


@media screen and (max-width:1200px){
 

   

    #menu_page_main_div>div{
        flex-direction: column;
    }
#menu_bar_red_lines{
    display: none;
}
    #side_menu_bar>div{
        position:relative;
        flex-direction:initial;
        overflow: scroll;
        width: 100vw;
        /* background-color: #e02525; */
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        position: fixed;
        top: 125px;
        left: 0;
        align-items: center;
        font-size: 14px;
        padding: 25px;
        background-color: white;
        gap: 0;
        /* border: 2px solid red; */
        z-index: 100;
    }

    #side_menu_bar>div::-webkit-scrollbar{
        display: none;
    }
    #side_menu_bar h1{
        display: none;
    }
    
    #side_menu_bar a,h3{
        /* background-color: pink; */
       min-width:120px;
       
       
    }
    .featured_cards{
        grid-template-columns: repeat(2,1fr);
    }
    
}

